__pycache__/ClassicNN.cpython-313.pyc
__pycache__/DistanceMatrix.cpython-313.pyc
__pycache__/Location.cpython-313.pyc
__pycache__/ModifiedNN.cpython-313.pyc
__pycache__/distancePlot.cpython-313.pyc
__pycache__/euclideanDistance.cpython-313.pyc
__pycache__/kMeansAlg.cpython-313.pyc
__pycache__/route.cpython-313.pyc